@import "../variables.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-background);
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 auto 20px;
}

.header h1 {
    /*border: 1px solid blue;*/
    margin: 0;
    padding: 5px 10px;
}

.title {
    font-family: Raleway, Quintessential, sans-serif;
    text-align: center;
}