@import '../variables.css';

.header {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
}

.header .main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100vw;
  min-width: 240px;
  max-width: 640px;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
  padding: 5px 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
.title {
  font-family: Raleway, Quintessential, sans-serif;
  text-align: center;
}
