.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tile {
    font-size: 1.3rem;
    flex-grow: 1;
    background-color: #f6fcff;
    border: 2px solid #999;
    display: flex;
    padding: 0.5rem 1rem;
    height: 20px;
    width: 10px;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 2px;
}

.tile.success {
    background-color: #a6ed64;
}

.tile.selected {
    border-color: #2d2d25;
}

.tile.warn {
    background-color: #ebba3d;
}

.tile.incorrect {
    background-color: #cbd0d0;
}