@import "../../variables.css";
.stats {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}

.game-stats .stats-label {
    display: inline-block;
    flex: 1;
    text-align: right;
}

.game-stats .stats-value {

}