.board {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 420px;
    margin: 0 auto;
}

@media (max-width: 360px)  {
    .board {
        width: 250px;
        height: 300px;
    }
}

