.message {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #999999;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  color: black;
}

.message.error {
  background-color: #f29483;
}

.message.warn {
  background-color: #e9d2c2;
}

.message.success {
  background-color: #62f954;
}

@media (max-width: 400px) {
  .message {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left: 0;
    border-right: 0;
  }
}
