.message {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #999999;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

.message.error {
    background-color: var(--message-error-background);
    color: var(--message-error-text);
    border-color: var(--message-error-border);
}

.message.warn {
    background-color: var(--message-warn-background);
    color: var(--message-warn-text);
    border-color: var(--message-warn-border);
}

.message.success {
    background-color: var(--message-success-background);
    color: var(--message-success-text);
    border-color: var(--message-success-border);
}

@media (max-width: 400px) {
    .message {
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left: 0;
        border-right: 0;
    }

}

