@import "../../variables.css";

.tile {
    background-color: var(--tile-background);
    color: var(--tile-text);
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid var(--tile-border-color)
}

.tile.success {
    background-color: var(--tile-success-background);
    color: var(--tile-success-text);
}

.tile.selected {
    border: 3px solid var(--tile-selected-border-color);
}

.tile.incorrect {
    background-color: var(--tile-incorrect-background);
    color: var(--tile-incorrect-text);
}

.tile.warn {
    background-color: var(--tile-warn-background);
    color: var(--tile-warn-text);
}

.tile.disabled {
    background-color: var(--tile-disabled-background);
    color: var(--tile-disabled-text);
}

