@import 'variables.css';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Raleway/Raleway-Regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
    url('./assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  font-family: Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
