:root {
  --body-background: #a9d4fa;
  --primary-background: #aee018;
  --secondary-background: #bfc2a2;
  --secondary-text: #302718;
  --warn: #f59f2a;
  --warn-semi-transparent: #f59f2a66;
  --success: #75f102;
  --success-semi-transparent: #75f10266;
  --disabled-background: #8d8d8dcc;
  --disabled-text: #ee5d5d;

  --key-background: black;
  --key-text: white;
}
